$picture-max-size: 50vw;

.detail-container {
  display: grid;
  row-gap: 64px;
  background-color: #fff;
  margin: 64px 0 64px 0;
  width: calc(70vw + 40px);
  padding: 24px;
}

.header-detail-container {
  display: grid;
  grid-template-columns: $picture-max-size auto;
  column-gap: 24px;
}

.detail-picture {
  width: $picture-max-size;
  max-height: $picture-max-size;
}

.description-title {
  font-size: 24px;
}