$base-color: #fff159;

.header-container {
  width: 100%;
  height: 60px;
  background-color: $base-color;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  column-gap: 24px;
}
